/* * * * * * * * * * MISCELLANEOUS * * * * * * * * * */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    font-size: 16px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 18px;
}

input, label {
    height: 20px;
}

textarea {
    height: 200px;
    resize: vertical;
}

.font-size-15 {
    font-size: 15px;
}

/* * * * * * * * * * TABLES * * * * * * * * * */

table {
    width: 100%; /* for whatever reason this is needed for text overflow */
    padding: 15px;
    border-collapse: collapse;
}

.text-overflow {
    max-width: 0; /* for whatever reason this is needed for text overflow */
    overflow: hidden; /* text overflow */
    text-overflow: ellipsis; /* text overflow */
    white-space: nowrap; /* for whatever reason this is needed for text overflow */
}

tr, td, th {
    padding: 15px;
    border: 1px solid black;
    vertical-align: top;
}

/* * * * * * * * * * CONTAINER * * * * * * * * * */

.container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.width-10 {
    width: 10% !important;
}

.width-15 {
    width: 15% !important;
}

.width-20 {
    width: 20% !important;
}

.width-30 {
    width: 30% !important;
}

.width-100 {
    width: 100% !important;
}

/* * * * * * * * * * ROW * * * * * * * * * */

.row {
    /* border: 1px solid black; */
    display: flex;
    padding: 10px;
}

.row > label {
    /* border: 1px solid black; */
    width: 30%;
}

.row > input,
.row > textarea {
    /* border: 1px solid black; */
    width: 100%;
    padding: 5px;
}

.row > div {
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}

/* * * * * * * * * * BUTTONS * * * * * * * * * */

button {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    margin: auto;
}

button:hover {
    background-color: #ddd;
    cursor:pointer;
}

.row > input[type="file"] {
    padding: 0px;
    height: auto;
}

input[type="file"]::file-selector-button {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #ddd;
    cursor:pointer;
}

/* * * * * * * * * * NAVBAR * * * * * * * * * */

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.navbar li {
    float: left;
}

.navbar .float-right {
    float: right;
}

.navbar li a {
    border: 1px solid #e0e0e0;
    display: block;
    color: #333;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    cursor:pointer;
}
